.my-widget{
    background-color: #14c71afc;
    border-radius: 30px;
    padding: 15px;
    margin:10px;
}
.author {
    text-transform: uppercase;
}

.text {
    background-color: #edf5eefc;
    color: black;
    padding: 10px;
}

.textarea {
    background-color: #edf5eefc;
    color-text: black;
    padding: 10px;
}


#first_p {
    text-transform: uppercase;
}

.text p{
    font-size: 20px;
}