{% extends 'static_page.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="my_custom_header bg-danger text-white text-uppercase">uuii</h1>
                <img class="img-fluid" src="{% static '/img/logo.png' %}" alt="картинка с лого django">
                <p class="font-weight-bold">В американском городе Миннеаполис уже несколько дней проходят масштабные акции протеста, переросшие в беспорядки — протестующие поджигают машины и здания, грабят и мародёрствуют. Местные власти просят ввести в город Национальную гвардию, а губернатор говорит, что ситуация переросла в чрезвычайно опасную, и призывает остановить насилие.</p>
                <p>Началось всё после смерти афроамериканца Джорджа Флойда из-за жёстких действий полиции. Его задержали по подозрению в использовании фальшивого чека на 20 долларов в магазине. При задержании полицейский применил удушающий приём, придавив шею мужчины коленом. Джордж несколько раз сказал, что задыхается, но его проигнорировали. После этого он потерял сознание, а позднее скончался в больнице</p>
            </div>
            <div class="col-6 text">
                <h1 class="text-uppercase">СУГС!</h1>
                <p class="font-weight-bold">Слава Украини - Героям слава!</p>
                <p>Слава Украини - Героям слава!</p>
                <p>Слава Украини - Героям слава!</p>
                <p>Слава Украини - Героям слава! </p>
            </div>
        </div>
    </div>

{% endblock content %}