{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница{% block title %} {% endblock title %}</title>

    {% block css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">



    {% endblock css %}
</head>

<body>
{% block header %}
 {% include "includes/header.html" %}


{% endblock header %}

{% block content %}

{# <article> #}

{# </article> #}
    <section>
        <div class="col-12">
            <h>Новигация по сайту </h>
            <a class="col-4" href="ded/">Страница деда</a>
        </div>
        <div class ="container">
        <div class ="row">
            <div class ="col-xl-12 col-sm-4 order-xl-2 col-3" style="min-height: 500px; background-color: red">
                Colonnia#1
            </div>
            <div class ="col-xl-12 col-sm-4 order-xl-1 col-4" style="min-height: 500px; background-color: blue">
                <h1> {{ page.title }} </h1>
                <b> {{ page.author.first_name }} </b>
                <p> {{ page.text }} </p>
                <hr>
                {% for comment in comments %}
                <p>{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                <p>{{ comment.created }}</p>
                <p>{{ comment.text }}</p>
                {% endfor %}

            </div>
            <div class ="col-xl-12 col-sm-12 order-xl-3 col-5" style="min-height: 500px; background-color: yellow">
                Colonnia #3
            </div>
        </div>
        </div>
    </section>

{% endblock content %}

{% block footer %}
    {# <iframe src="https://onliner.com" ></iframe> #}
    {% include "includes/footer1.html" %}
{% endblock footer %}
</body>
</html>