{% extends "index.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock css %}
{% block content %}
    <section>
    <div class="row">
        <div class="col-4">
            <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
        </div>
         <div class="col-4">
             <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
         </div>
    </div>

    </section>

{% endblock %}