{% block css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock css %}


</form>
    <div class="container">
        <div class ="row">
            <div class ="col-4">
                <div class="col-8">
                    <h1>Название статьи</h1>
                    <p class="author">Автор: Бомж Бруневич</p>
                    <div class="text">
                        <p id="first_p">Данный материал создаётся в рамках усиленного изучения python/django</p>
                        <p>Пастулат Эрнеста Рахматуллина -- Чем дальше учитесь, тем проще усвоение - полностью себя оправдывает</p>
                    </div>
                </div>>
            </div>
        </div>
    </div>
    <section>
    <div class="row">
        <div class="col-4">
            <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
        </div>
         <div class="col-4">
             <div class="my-widget">
                <h2>Ссылки на сайты</h2>
                <ul>
                    <li>
                        <a href="https://tut.by"> ссылка на тут.бай </a>
                    </li>
                    <li>
                        <a href="https://onliner.com"> ссылка на onliner </a>
                    </li>
                </ul>
            </div>
         </div>
    </div>

    </section>




        <section>
        <div class ="container pt-20 pb-4">
            <div class ="row">
            <div class ="col-12 text-center" style="background-color: green; min-height: 100px">
                Копирайт из footer1
            </div>

            </div>
        </div>
    </section>

</body>
</html>
<form>
    <div class="container">
    <form action="/add-comment-url/" method="post">
         {% csrf_token %}
        {{ form.as_p }}
    <div class="col-6">

            <div class="col-4">
                <label>Никнейм:</label>
                <input type="text" name="username" >

            </div>
            <div class="col-4">
                <label>..  Пароль:</label>
                <input type="password" name="password">

            </div>

            <div class="col-4">
            <textarea class="text"></textarea>
                <label>Нажмите на кнопку:</label>
                <input type="submit" value="Кнопка">
            </div>



    </div>
    </form>
    </div>

</form>
